<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>


<div class="bg-white custom-shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
            Sales department control
        </h1>
    </div>
</div>


        <h4>Accounts</h4>
        <a href="/employee-portal/sales/account">All Accounts</a>
<!--        <a href="/employee-portal/admin/account/approve-unregistered">Requests for Registration</a>-->
<!--        <a href="/employee-portal/admin/account/approve-updated">Requests for Updating</a>-->


<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>