<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>

<div class="bootstrap-wrapper">
    <div class="container">
        <h2>SYSTEM ADMIN CONTROL</h2>
        <hr>
        <h4>Accounts</h4>
        <a href="/employee-portal/admin/account">All Accounts</a>
        <a href="/employee-portal/admin/account/approve-unregistered">Requests for Registration</a>
        <a href="/employee-portal/admin/account/approve-updated">Requests for Updating</a>
        <hr>
    </div>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>