<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<form class="profile-edit-form document-upload-form" th:fragment="document-upload-form" th:action="@{'/employee-portal/employee/' + ${employee.id} + '/upload-documents'}"  th:object="${dto}" enctype="multipart/form-data" method="post">

    <div th:replace="fragments/documents-management.html :: documents-management"></div>

    <select th:field="*{documentType}">
        <option th:each="docType : ${documentTypes}" th:value="${docType.id}" th:text="${docType.name}"></option>
    </select>
    <input type="file" th:field="*{files}" name="files" multiple required><br>
    <input class="btn form-submit-btn" type="submit" value="Add new file">
</form>


</body>
</html>