<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<form class="profile-edit-form document-upload-form" th:fragment="document-upload-form" th:action="@{'/employee-portal/' + ${employee.id} + '/upload-documents'}"  th:object="${dto}" enctype="multipart/form-data" method="post">

    <div th:replace="fragments/emp-documents-management.html :: documents-management"></div>

    <div class="profile-edit-item row">
        <div class="col-md-4">
            <p class="name">New document</p>
        </div>
        <div class="col-md-8">
            <div class="input-wrapper">
                <select class="form-in-item" th:field="*{documentType}">
                    <option th:each="docType : ${documentTypes}" th:value="${docType.id}" th:text="${docType.name}"></option>
                </select>
                <input class="form-in-item" type="file" th:field="*{files}" name="files" multiple required><br>
            </div>
        </div>
    </div>

    <input class="btn form-submit-btn" type="submit" value="Add new document">
</form>


</body>
</html>