@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

th, td {
    font-size: 14px;
}

.btn.form-submit-btn{
    background-color: #377fd8;
    border-radius: 6px;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .035em;
}
/* HEADER */

.top-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-info .top-info-item{
    text-decoration: none;
}

.top-info .top-info-item .item-text{
    color: #2e3032;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
}

.top-nav-wrapper{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 45px 0px rgba(216,226,237,0.8);
    -moz-box-shadow: 0px 0px 45px 0px rgba(216,226,237,0.8);
    box-shadow: 0px 0px 45px 0px rgba(216,226,237,0.8);
}

.top-nav a{
    text-decoration: none;
}

.top-nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav-links .nav-link{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin-left: 18px;
}

.top-nav-links .nav-link a{
    color: #000;
}


.top-nav .brand-title{
    color: #4b83d6;
    font-size: 28px;
    font-weight: 600;
    margin: 24px 0;
}

/* HEADER */

/*PAGE TITLE*/

.page-info{
    margin-top: 50px;
    margin-bottom: 20px;
}

.page-info .name{
    font-size: 24px;
    font-weight: 600;
}

.extra-btn{
    /*border-radius: 2px;*/
    /*padding: 5px 10px;*/
    text-decoration: none;
    background-color: #377fd8;
}

.extra-btn .text{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}


/*PAGE TITLE*/






/* EMPLOYEE PROFILE */

.profile-item .name, .profile-item .descr{
    display: inline-block;
    margin-top: 0;
}

.profile-item .name, .profile-edit-item .name{
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
}

.profile-item .descr, .profile-edit-item .descr{
    font-weight: 500;
}

.profile-item .descr{
    margin-top: 12px;
    margin-bottom: 12px;
}

.ul-no-dot{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-item .contract-link{
    text-decoration: none;
}

.profile-item .document-name{
    margin-left: 8px;
}


/* EMPLOYEE PROFILE */


/* EMPLOYEE PROFILE EDIT */

.profile-edit-item .input-wrapper{
    height: 100%;
    display: flex;
}

.profile-edit-item .form-in-item{
    align-self: center;
}

.profile-edit-form .form-submit-btn{
    margin:0px auto;
    display:block;
}

/* EMPLOYEE PROFILE EDIT */








/* CHECKBOX */

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #377fd8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* CHECKBOX */


/*FOOTER*/

footer{
    margin-top: 100px;
}

/*FOOTER*/