@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

th, td {
    font-size: 14px;
}

.btn.form-submit-btn{

    background-color: #0068e8;
    border-radius: 10px;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .04em;
}
/* HEADER */

.top-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-info .top-info-item{
    text-decoration: none;
}

.top-info .top-info-item .item-text{
    color: #2e3032;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
}

.top-nav-wrapper{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 45px 0px rgba(216,226,237,0.8);
    -moz-box-shadow: 0px 0px 45px 0px rgba(216,226,237,0.8);
    box-shadow: 0px 0px 45px 0px rgba(216,226,237,0.8);
}

.top-nav a{
    text-decoration: none;
}

.top-nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav-links .nav-link{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500    ;
    margin-left: 18px;
}

.top-nav-links .nav-link a{
    color: #000;
}


.top-nav .brand-title{
    color: #4b83d6;
    font-size: 28px;
    font-weight: 600;
    margin: 24px 0;
}

/* HEADER */
