@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #f3f5f7;
}

/* HEADER */

.custom-shadow{
    -webkit-box-shadow: 0px 16px 20px 5px rgba(216, 226, 237, .3);
    -moz-box-shadow: 0px 16px 20px 5px rgba(216, 226, 237, .3);
    box-shadow: 0px 16px 20px 5px rgba(216, 226, 237, .3);
}

/* HEADER */

/*PAGE TITLE*/

.page-info{
    margin-top: 50px;
    margin-bottom: 20px;
}

.page-info .name{
    font-size: 24px;
    font-weight: 500;
    color: #a1a4b5;
}

/*PAGE TITLE*/

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='month'], [type='search'], [type='tel'], [type='time'], [multiple], textarea, select {
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
}

/* CHECKBOX */

input:checked ~ svg {
 display: block;
}
/* CHECKBOX */

.login-form-wrapper{
    min-height: 80vh;
}