<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>


<div class="bg-white custom-shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 th:if="${#lists.isEmpty(accounts)}" class="text-3xl font-bold leading-tight text-gray-900">
            There are no accounts
        </h1>
        <h1 th:unless="${#lists.isEmpty(accounts)}" class="text-3xl font-bold leading-tight text-gray-900">
            Accounts
        </h1>
    </div>
</div>




        <div class="page-info row">
            <div th:if="${#lists.isEmpty(accounts)}" class="col-md-6">
                <span class="name">There are no accounts.</span>
            </div>
            <div th:unless="${#lists.isEmpty(accounts)}" class="col-md-6">
                <span class="name">Accounts</span>
            </div>
            <div class="col-md-6">
                <a sec:authorize="hasAuthority('SALES_DEP')" class="extra-btn" href="/employee-portal/sales/account/new">
                    <span class="text">Add account</span>
                </a>
                <a sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')" class="extra-btn" href="/employee-portal/admin/account/new">
                    <span class="text">Add account</span>
                </a>

            </div>
        </div>


        <table th:unless="${#lists.isEmpty(accounts)}">
            <tr>
                <th>Name</th>
                <th>Address 1</th>
                <th>City</th>
                <th>State</th>
                <th>ZIP</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Direct Line</th>
                <th>Contact First Name</th>
                <th>Contact Last Name</th>
                <th>More</th>
                <th>Update</th>

            </tr>
            <tr th:each="account: ${accounts}">
                <td th:text="${account.name}">Name</td>
                <td th:text="${account.addressFirst}">Address 1</td>
                <td th:text="${account.city}">City</td>
                <td th:text="${account.state}">State</td>
                <td th:text="${account.ZIP}">ZIP</td>
                <td th:text="${account.phone}">Phone</td>
                <td th:text="${account.fax}">Fax</td>
                <td th:text="${account.directLine}">Direct Line</td>
                <td th:text="${account.contactFirstName}">Contact First Name</td>
                <td th:text="${account.contactLastName}">Contact Last Name</td>
                <td sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')">
                    <a th:href="@{'/employee-portal/admin/account/' + ${account.id}}">More Info</a>
                </td>
                <td sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')">
                    <a th:href="@{'/employee-portal/admin/account/update/' + ${account.id}}">Update</a>
                </td>

                <td sec:authorize="hasAuthority('SALES_DEP')">
                    <a th:href="@{'/employee-portal/sales/account/' + ${account.id}}">More Info</a>
                </td>
                <td sec:authorize="hasAuthority('SALES_DEP')">
                    <a th:href="@{'/employee-portal/sales/account/update/' + ${account.id}}">Update</a>
                </td>
            </tr>
        </table>


<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>