<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>

<div class="bootstrap-wrapper">
    <div class="container">

        <div class="page-info row">
            <div class="col-md-12">
<!--                <span th:if="${#bools.isTrue(updateCreate) or #bools.isTrue(createUnregistered)}" class="name">New Account</span>-->
<!--                <span th:if="${#bools.isTrue(createUpdated) or #bools.isTrue(createUnregistered) or #bools.isTrue(approveUpdated)}" class="name">Update Account</span>-->


<!--                <button th:if="${#bools.isTrue(createUnregistered)}"-->
<!--                        th:formaction="@{'/employee-portal/sales/account/new/save'}" class="btn form-submit-btn"-->
<!--                        type="submit">Propose new account</button>-->

<!--                <button th:if="${#bools.isTrue(createUpdated)}"-->
<!--                        th:formaction="@{'/employee-portal/sales/account/update/save'}" class="btn form-submit-btn"-->
<!--                        type="submit">Propose account updating</button>-->

<!--                <button th:if="${#bools.isTrue(approveUnregistered)}"-->
<!--                        th:formaction="@{'/employee-portal/admin/account/approve-unregistered/save'}" class="btn form-submit-btn"-->
<!--                        type="submit">Approve</button>-->

<!--                <button th:if="${#bools.isTrue(approveUpdated)}"-->
<!--                        th:formaction="@{'/employee-portal/admin/account/approve-updated/save'}" class="btn form-submit-btn"-->
<!--                        type="submit">Approve</button>-->

<!--                <button th:if="${#bools.isTrue(updateCreate)}"-->
<!--                        th:formaction="@{'/employee-portal/admin/account/update-create/save'}" class="btn form-submit-btn"-->
<!--                        type="submit">Approve</button>-->

                <span class="name">Account</span>

            </div>
        </div>

        <form th:action="${'/employee-portal/sales/account/new/save'}" th:object="${account}" method="post">

            <input type="text" th:field="*{id}" th:value="*{id}" hidden>

            <input th:if="${#bools.isTrue(createUpdated)} or ${#bools.isTrue(approveUpdated)}"
                   th:field="*{baseVersion}" th:value="*{baseVersion}" hidden>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Name</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{name}">
                        <p th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Address 1</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{addressFirst}">
                        <p th:each="error : ${#fields.errors('addressFirst')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Address 2</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{addressSecond}">
                        <p th:each="error : ${#fields.errors('addressSecond')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">City</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{city}">
                        <p th:each="error : ${#fields.errors('city')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">State</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{state}">
                        <p th:each="error : ${#fields.errors('state')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">ZIP</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" placeholder="00000{-0000}" th:field="*{ZIP}">
                        <p th:each="error : ${#fields.errors('ZIP')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Phone</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" placeholder="000-000-0000" th:field="*{phone}">
                        <p th:each="error : ${#fields.errors('phone')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Fax</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" placeholder="000-000-0000" th:field="*{fax}">
                        <p th:each="error : ${#fields.errors('fax')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>


            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Direct Line</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" placeholder="000-000-0000" th:field="*{directLine}">
                        <p th:each="error : ${#fields.errors('directLine')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>


            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Contact First Name</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{contactFirstName}">
                        <p th:each="error : ${#fields.errors('contactFirstName')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Contact Last Name</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="text" th:field="*{contactLastName}">
                        <p th:each="error : ${#fields.errors('contactLastName')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>


            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Contact Email</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <input class="form-in-item" type="email" th:field="*{contactEmail}">
                        <p th:each="error : ${#fields.errors('contactEmail')}" th:text="${error}">Validation error</p>
                    </div>
                </div>
            </div>

            <input type="text" th:field="*{providers}" hidden>

            <div class="profile-edit-item row">
                <div class="col-md-4">

                    <p th:if="${#bools.isTrue(createUnregistered)}" class="name">
                        <button th:if="${#lists.size(account.providers) < maxProviders}"
                                th:formaction="@{'/employee-portal/sales/account/new/add-provider'}"
                                type="submit">Add Provider</button>
                        <button th:if="${#lists.size(account.providers) >= 1}"
                                th:formaction="@{'/employee-portal/sales/account/new/rm-provider'}"
                                type="submit">Remove Provider</button>
                    </p>

                    <p th:if="${#bools.isTrue(createUpdated)}" class="name">
                        <button th:if="${#lists.size(account.providers) < maxProviders}"
                                th:formaction="@{'/employee-portal/sales/account/update/add-provider'}"
                                type="submit">Add Provider</button>
                        <button th:if="${#lists.size(account.providers) >= 1}"
                                th:formaction="@{'/employee-portal/sales/account/update/rm-provider'}"
                                type="submit">Remove Provider</button>
                    </p>

                    <p th:if="${#bools.isTrue(approveUnregistered)}" class="name">
                        <button th:if="${#lists.size(account.providers) < maxProviders}"
                                th:formaction="@{'/employee-portal/admin/account/approve-unregistered/add-provider'}"
                                type="submit">Add Provider</button>
                        <button th:if="${#lists.size(account.providers) >= 1}"
                                th:formaction="@{'/employee-portal/admin/account/approve-unregistered/rm-provider'}"
                                type="submit">Remove Provider</button>
                    </p>

                    <p th:if="${#bools.isTrue(approveUpdated)}" class="name">
                        <button th:if="${#lists.size(account.providers) < maxProviders}"
                                th:formaction="@{'/employee-portal/admin/account/approve-updated/add-provider'}"
                                type="submit">Add Provider</button>
                        <button th:if="${#lists.size(account.providers) >= 1}"
                                th:formaction="@{'/employee-portal/admin/account/approve-updated/rm-provider'}"
                                type="submit">Remove Provider</button>
                    </p>

                    <p th:if="${#bools.isTrue(updateCreate)}" class="name">
                        <button th:if="${#lists.size(account.providers) < maxProviders}"
                                th:formaction="@{'/employee-portal/admin/account/update-create/add-provider'}"
                                type="submit">Add Provider</button>
                        <button th:if="${#lists.size(account.providers) >= 1}"
                                th:formaction="@{'/employee-portal/admin/account/update-create/rm-provider'}"
                                type="submit">Remove Provider</button>
                    </p>

                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <table>
                            <tr th:each="provider, rowStat : *{providers}">
                                <input type="text" th:field="*{providers[__${rowStat.index}__].id}" th:value="*{providers[__${rowStat.index}__].id}" hidden>
                                <td>
                                    <select class="form-in-item" th:field="*{providers[__${rowStat.index}__].title}">
                                        <option th:each="tit : ${titles}"
                                                th:value="${tit.id}"
                                                th:text="${tit.name}">
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <span>First Name</span>
                                    <input type="text" th:field="*{providers[__${rowStat.index}__].firstName}"/>
<!--                                    <p th:each="error : ${#fields.errors('providers[' + rowStat.index + '].firstname')}" th:text="${error}">Validation error</p>-->
                                </td>
                                <td>
                                    <span>Last Name</span>
                                    <input type="text" th:field="*{providers[__${rowStat.index}__].lastName}"/>
<!--                                    <p th:each="error : ${#fields.errors('providers[' + __${rowStat.index}__ + '].lastName')}" th:text="${error}">Validation error</p>-->
                                </td>

                                <td>
                                    <span>Email</span>
                                    <input type="email" th:field="*{providers[__${rowStat.index}__].email}"/>
<!--                                    <p th:each="error : ${#fields.errors('providers[' + *{__${rowStat.index}__ } + '].email')}" th:text="${error}">Validation error</p>-->
                                </td>
                                <td>
                                    <span>NPI</span>
                                    <input type="text" th:field="*{providers[__${rowStat.index}__].NPI}" placeholder="0000000000"/>
<!--                                    <p th:each="error : ${#fields.errors('providers['+*{__${rowStat.index}__ }+'].NPI')}" th:text="${error}">Validation error</p>-->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <input type="text" th:field="*{specimenPickUpDayTimes}" hidden>

            <div th:each="spudt, spudtStat : *{specimenPickUpDayTimes}" class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name" th:text="${spudt.pickUpDayOfWeek.name}"></p>

                    <input type="text"
                           th:field="*{specimenPickUpDayTimes[__${spudtStat.index}__].id}"
                           th:value="*{specimenPickUpDayTimes[__${spudtStat.index}__].id}" hidden>

                    <input type="text"
                           th:field="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpDayOfWeek}"
                           th:value="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpDayOfWeek}" hidden>

                    <input type="text"
                           th:field="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpTimes}"
                           th:value="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpTimes}" hidden>

                    <!--                    ????????????????????                    -->
<!--                    <input type="text"-->
<!--                           th:field="*{specimenPickUpDayTimes[__${spudtStat.index}__].account}"-->
<!--                           th:value="${account}" hidden>-->

                    <div th:if="${#bools.isTrue(createUnregistered)}">

                        <button th:if="${#lists.size(spudt.pickUpTimes) < maxPickUps}"
                                th:formaction="@{'/employee-portal/sales/account/new/add-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Add Pick Up Time</button>
                        <button th:if="${#lists.size(spudt.pickUpTimes) >= 1}"
                                th:formaction="@{'/employee-portal/sales/account/new/rm-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Remove Pick Up Time</button>
                    </div>

                    <div th:if="${#bools.isTrue(createUpdated)}">

                        <button th:if="${#lists.size(spudt.pickUpTimes) < maxPickUps}"
                                th:formaction="@{'/employee-portal/sales/account/update/add-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Add Pick Up Time</button>
                        <button th:if="${#lists.size(spudt.pickUpTimes) >= 1}"
                                th:formaction="@{'/employee-portal/sales/account/update/rm-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Remove Pick Up Time</button>
                    </div>

                    <div th:if="${#bools.isTrue(approveUnregistered)}">

                        <button th:if="${#lists.size(spudt.pickUpTimes) < maxPickUps}"
                                th:formaction="@{'/employee-portal/admin/account/approve-unregistered/add-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Add Pick Up Time</button>
                        <button th:if="${#lists.size(spudt.pickUpTimes) >= 1}"
                                th:formaction="@{'/employee-portal/admin/account/approve-unregistered/rm-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Remove Pick Up Time</button>
                    </div>

                    <div th:if="${#bools.isTrue(approveUpdated)}">

                        <button th:if="${#lists.size(spudt.pickUpTimes) < maxPickUps}"
                                th:formaction="@{'/employee-portal/admin/account/approve-updated/add-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Add Pick Up Time</button>
                        <button th:if="${#lists.size(spudt.pickUpTimes) >= 1}"
                                th:formaction="@{'/employee-portal/admin/account/approve-updated/rm-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Remove Pick Up Time</button>
                    </div>

                    <div th:if="${#bools.isTrue(updateCreate)}">

                        <button th:if="${#lists.size(spudt.pickUpTimes) < maxPickUps}"
                                th:formaction="@{'/employee-portal/admin/account/update-create/add-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Add Pick Up Time</button>
                        <button th:if="${#lists.size(spudt.pickUpTimes) >= 1}"
                                th:formaction="@{'/employee-portal/admin/account/update-create/rm-pick-up-time'(dayId=${spudt.pickUpDayOfWeek.id})}"
                                type="submit" >Remove Pick Up Time</button>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <table>
                            <tr th:each="put, putStat : *{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpTimes}">

                                <input type="text"
                                       th:field="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpTimes[__${putStat.index}__].id}"
                                       th:value="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpTimes[__${putStat.index}__].id}" hidden>

                                <input class="form-in-item"
                                       type="time"
                                       th:field="*{specimenPickUpDayTimes[__${spudtStat.index}__].pickUpTimes[__${putStat.index}__].pickUpTime}">
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Provider Portal</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <select class="form-in-item" th:field="*{providerPortal}">
                            <option th:value="1" >Yes</option>
                            <option th:value="0" >No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="profile-edit-item row">
                <div class="col-md-4">
                    <p class="name">Paper Requisitions</p>
                </div>
                <div class="col-md-8">
                    <div class="input-wrapper">
                        <select class="form-in-item" th:field="*{paperRequisitions}">
                            <option th:value="1" >Yes</option>
                            <option th:value="0" >No</option>
                        </select>
                    </div>
                </div>
            </div>

<!--            <div sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')" class="profile-edit-item row">-->
<!--                <div class="col-md-4">-->
<!--                    <p class="name">Approve</p>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->
<!--                    <div class="input-wrapper">-->
<!--                        <label class="checkbox-container form-in-item">-->
<!--                            <input th:field="*{approved}" type="checkbox" checked="checked">-->
<!--                            <span class="checkmark"></span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->



            <button th:if="${#bools.isTrue(createUnregistered)}"
                   th:formaction="@{'/employee-portal/sales/account/new/save'}" class="btn form-submit-btn"
                    type="submit">Propose new account</button>

            <button th:if="${#bools.isTrue(createUpdated)}"
                   th:formaction="@{'/employee-portal/sales/account/update/save'}" class="btn form-submit-btn"
                   type="submit">Propose account updating</button>

            <button th:if="${#bools.isTrue(approveUnregistered)}"
                    th:formaction="@{'/employee-portal/admin/account/approve-unregistered/save'}" class="btn form-submit-btn"
                    type="submit">Approve</button>

            <button th:if="${#bools.isTrue(approveUpdated)}"
                    th:formaction="@{'/employee-portal/admin/account/approve-updated/save'}" class="btn form-submit-btn"
                    type="submit">Approve</button>

            <button th:if="${#bools.isTrue(updateCreate)}"
                    th:formaction="@{'/employee-portal/admin/account/update-create/save'}" class="btn form-submit-btn"
                    type="submit">Approve</button>
        </form>
    </div>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>