<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>

    <header th:replace="fragments/general.html::header"></header>

    <div class="bootstrap-wrapper">
        <div class="container">
            <div>
                <form th:action="@{/employee-portal/hr/approve-employee/save}" th:object="${employee}" method="post">

                    <h4>Basic info</h4>

                    <input type="text" th:field="*{basicInfo.id}" th:value="*{basicInfo.id}" hidden>

                    <label>First Name</label>
                    <input type="text" th:field="*{basicInfo.firstName}"><br>

                    <label>Middle Name</label>
                    <input type="text" th:field="*{basicInfo.middleName}"><br>

                    <label>Last Name</label>
                    <input type="text" th:field="*{basicInfo.lastName}"><br>

                    <label>Date Of Birth</label>
                    <input type="date" th:field="*{basicInfo.dateOfBirth}"><br>

                    <label>Home Phone</label>
                    <input type="text" th:field="*{basicInfo.homePhone}"><br>

                    <label>Mobile Phone</label>
                    <input type="text" th:field="*{basicInfo.mobilePhone}"><br>

                    <label>Personal Email</label>
                    <input type="text" th:field="*{basicInfo.personalEmail}"><br>

                    <label>Department</label>
                    <select th:field="*{basicInfo.department}">
                        <option th:each="dep : ${departments}" th:value="${dep.name}" th:text="${dep.name}"></option>
                    </select><br>

                    <label>Social Security</label>
                    <input type="text" th:field="*{basicInfo.socialSecurity}"><br>

                    <hr>

                    <label>Salary</label>
                    <input type="text" th:field="*{salary}"><br>

                    <label>Commission</label>
                    <input type="text" th:field="*{commission}"><br>

                    <label>Job Description</label>
                    <textarea th:field="*{jobDescription}"></textarea>

                    <label class="checkbox-container">Added To Payroll
                        <input th:field="*{addedToPayroll}" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>

                    <label class="checkbox-container">Completed Training
                        <input th:field="*{completedTraining}" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>

                    <h4>Work Shift</h4>

                    <label>Beginning</label>
                    <input type="time" th:field="*{workShift.beginning}">

                    <label>Ending</label>
                    <input type="time" th:field="*{workShift.ending}"><br>

                    <h4>Credentials</h4>

                    <label>Work Email</label>
                    <input type="text" th:field="*{credentials.email}">

                    <label>Password</label>
                    <input type="text" th:field="*{credentials.password}"><br>

                    <label>Role</label>
                    <select th:field="*{credentials.roles}" multiple="multiple">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                    </select><br>

                    <input class="btn form-submit-btn" type="submit" th:value="Submit">
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>