<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>


<div>
    <form th:action="@{/employee-portal/hr/approve-employee/save}" th:object="${employee}" method="post">

        <label>First Name</label>
        <input type="text" th:field="*{basicInfo.firstName}"><br>

        <label>Middle Name</label>
        <input type="text" th:field="*{basicInfo.middleName}"><br>

        <label>Last Name</label>
        <input type="text" th:field="*{basicInfo.lastName}"><br>

        <label>Date Of Birth</label>
        <input type="text" th:field="*{basicInfo.dateOfBirth}"><br>

        <label>Home Phone</label>
        <input type="text" th:field="*{basicInfo.homePhone}"><br>

        <label>Mobile Phone</label>
        <input type="text" th:field="*{basicInfo.mobilePhone}"><br>

        <label>Personal Email</label>
        <input type="text" th:field="*{basicInfo.personalEmail}"><br>

        <label>Department</label>
        <input type="text" th:field="*{basicInfo.department}"><br>

        <label>Social Security</label>
        <input type="text" th:field="*{basicInfo.socialSecurity}"><br>

        <hr>

        <label>Salary</label>
        <input type="text" th:field="*{salary}"><br>

        <label>Commission</label>
        <input type="text" th:field="*{commission}"><br>

        <label>Job Description</label>
        <input type="text" th:field="*{jobDescription}"><br>

        <h4>Work Shift</h4>

        <label>Beginning</label>
        <input type="text" th:field="*{workShift.beginning}">

        <label>Ending</label>
        <input type="text" th:field="*{workShift.ending}"><br>

        <h4>Credentials</h4>

        <label>Work Email</label>
        <input type="text" th:field="*{credentials.email}">

        <label>Password</label>
        <input type="text" th:field="*{credentials.password}"><br>

<!--        <label>Role</label>-->
<!--        <select th:field="*{credentials.roles}">-->
<!--            <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>-->
<!--        </select><br>-->

        <input type="submit">

    </form>

</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>