<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="page-info row">
            <div class="col-md-4">
                <span class="name">Employee Profile</span>
            </div>
            <div class="col-md-8">

                <!--     HR cannot edit own and admin's profile, but admin can edit any profile           -->

                <a th:if="${#bools.isTrue(editButtonShow)}"
                   class="extra-btn" th:href="@{'/employee-portal/hr/employee/' + ${employee.id}}">
                    <span class="text">Edit</span>
                </a>

            </div>
        </div>

        <div class="profile-item row">
            <div class="col-md-4">
                <p class="name">Name</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.firstName + ' ' + employee.basicInfo.middleName + ' ' + employee.basicInfo.lastName}"></p>
            </div>
        </div>

        <div th:if="${employee.basicInfo.dateOfBirth != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Date of birth</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${{employee.basicInfo.dateOfBirth}}"></p>
            </div>
        </div>

        <div th:if="${employee.basicInfo.socialSecurity != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Social Security</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.socialSecurity}"></p>
            </div>
        </div>

        <div th:if="${employee.basicInfo.homePhone != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Home Phone</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.homePhone}"></p>
            </div>
        </div>

         <div th:if="${employee.basicInfo.mobilePhone != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Mobile Phone</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.mobilePhone}"></p>
            </div>
        </div>

         <div th:if="${employee.basicInfo.personalEmail != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Personal Email</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.personalEmail}"></p>
            </div>
        </div>

        <div th:if="${employee.basicInfo.city != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">City</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.city}"></p>
            </div>
        </div>

        <div th:if="${employee.basicInfo.state != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">State</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.state}"></p>
            </div>
        </div>

        <div th:if="${employee.basicInfo.ZIP != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">ZIP</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.basicInfo.ZIP}"></p>
            </div>
        </div>

         <div th:if="${employee.salary != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Salary</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.salary}"></p>
            </div>
        </div>

         <div th:if="${employee.commission != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Commission</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.commission}"></p>
            </div>
        </div>

        <div th:if="${employee.jobPosition.department != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Department</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.jobPosition.department.name}"></p>
            </div>
        </div>


         <div th:if="${employee.jobPosition != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Job Position</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.jobPosition.name}"></p>
            </div>
        </div>

         <div th:if="${employee.workShift != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Work Shift</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.workShift}"></p>
            </div>
        </div>


        <div th:if="${employee.completedTraining != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Completed Training</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.completedTraining}? 'Yes' : 'No'"></p>
            </div>
        </div>

        <div th:if="${employee.addedToPayroll != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Added to payroll</p>
            </div>
            <div class="col-md-8">
                <p class="descr" th:text="${employee.addedToPayroll}? 'Yes' : 'No'"></p>
            </div>
        </div>

        <div th:if="${employee.supervisor != null}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Supervisor</p>
            </div>
            <div class="col-md-8">
                <a th:href="@{/employee-portal/employee/__${employee.supervisor.id}__}">
                    <p class="descr" th:text="${employee.supervisor.basicInfo.firstName} + ' ' + ${employee.supervisor.basicInfo.lastName}"></p>
                </a>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(employee.subordinates)}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Subordinates</p>
            </div>
            <div class="col-md-8">
                <div th:each="sub : ${employee.subordinates}">
                    <a th:href="@{/employee-portal/__${sub.id}__}">
                        <p class="descr" th:text="${sub.basicInfo.firstName + ' ' + sub.basicInfo.lastName}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(employee.contracts)}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Contracts</p>
            </div>
            <div class="col-md-8">
                <ul class="ul-no-dot" th:each="contract : ${employee.contracts}">
                    <li>
                        <a th:href="${contract.link}" class="contract-link">Link</a>
                        <p class="descr" th:text="${contract.signed}? 'Signed' : 'Not signed'"></p>
                    </li>
                </ul>
            </div>
        </div>


        <div th:if="${(not #lists.isEmpty(employee.empDocuments)) and #bools.isFalse(canManageDocuments)}" class="profile-item row">
            <div class="col-md-4">
                <p class="name">Documents</p>
            </div>
            <div class="col-md-8">
                <ul class="ul-no-dot" th:if="${not #lists.isEmpty(documentType.empDocuments)}" th:each="documentType : ${documentTypes}">
                    <li>
                        <p th:text="${documentType.name}" class="descr document-type"></p>
                        <ul class="ul-no-dot" th:each="document : ${documentType.empDocuments}">
                            <a th:href="@{'/employee-portal/document/' + ${document.id}+'/download'}">
                                <li th:text="${document.name}" class="document-name"></li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <div th:if="${#bools.isTrue(canManageDocuments)}">
            <hr>
            <h2> Employee documents</h2>
            <div th:replace="fragments/emp-document-upload-form.html :: document-upload-form"></div>
        </div>

    </div>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>

