<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>

    <header th:replace="fragments/general.html::header"></header>

    <div class="bootstrap-wrapper">
        <div class="container">

            <div class="page-info row">
                <div class="col-md-12">
                    <span class="name">Employee Registration</span>
                </div>
            </div>

            <form class="register-form" action="" th:action="@{/employee-portal/new-employee}" th:object="${basicEmployee}" method="post">

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Title</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <select class="form-in-item" th:field="*{title}">
                                <option th:each="tit : ${titles}"
                                        th:value="${tit.id}"
                                        th:text="${tit.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">First name</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{firstName}">
                            <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Middle name</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{middleName}">
                            <p th:each="error : ${#fields.errors('middleName')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>


                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Last name</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{lastName}">
                            <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Date of birth</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="date" th:field="*{dateOfBirth}">
                            <p th:each="error : ${#fields.errors('dateOfBirth')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Social security number</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" placeholder="AAA-GG-SSSS" th:field="*{socialSecurity}">
                            <p th:each="error : ${#fields.errors('socialSecurity')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Home phone</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="tel" placeholder="000-000-0000" th:field="*{homePhone}">
                            <p th:each="error : ${#fields.errors('homePhone')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Mobile phone</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="tel" placeholder="000-000-0000" th:field="*{mobilePhone}">
                            <p th:each="error : ${#fields.errors('mobilePhone')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Personal email</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="email" th:field="*{personalEmail}">
                            <p th:each="error : ${#fields.errors('personalEmail')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Address 1</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{addressFirst}">
                            <p th:each="error : ${#fields.errors('addressFirst')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Address 2</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{addressSecond}">
                            <p th:each="error : ${#fields.errors('addressSecond')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">City</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{city}">
                            <p th:each="error : ${#fields.errors('city')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">State</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{state}">
                            <p th:each="error : ${#fields.errors('state')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">ZIP</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" placeholder="00000{-0000}" th:field="*{ZIP}">
                            <p th:each="error : ${#fields.errors('ZIP')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <input class="btn form-submit-btn" type="submit" th:value="Submit">
            </form>
        </div>
    </div>

    <footer th:replace="fragments/general.html :: footer"></footer>

</body>
</html>