<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>

    <header th:replace="fragments/general.html::header"></header>

    <div class="bootstrap-wrapper">
        <div class="container">
            <h1>Employee Registration</h1>
            <hr>
            <form action="" th:action="@{/employee-portal/new-employee}" th:object="${basicEmployee}" method="post">

                <input type="text" th:field="*{firstName}" placeholder="First Name"><br>
                <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>

                <input type="text" th:field="*{middleName}" placeholder="Middle Name"><br>
                <p th:each="error : ${#fields.errors('middleName')}" th:text="${error}">Validation error</p>


                <input type="text" th:field="*{lastName}" placeholder="Last Name"><br>
                <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>

                <input type="date" th:field="*{dateOfBirth}"><br>
                <p th:each="error : ${#fields.errors('dateOfBirth')}" th:text="${error}">Validation error</p>

                <input type="text" th:field="*{socialSecurity}" placeholder="Social Security Number"><br>
                <p th:each="error : ${#fields.errors('socialSecurity')}" th:text="${error}">Validation error</p>

                <input type="tel" th:field="*{homePhone}" placeholder="Home Phone"><br>
                <p th:each="error : ${#fields.errors('homePhone')}" th:text="${error}">Validation error</p>

                <input type="tel" th:field="*{mobilePhone}" placeholder="Mobile Phone"><br>
                <p th:each="error : ${#fields.errors('mobilePhone')}" th:text="${error}">Validation error</p>

                <input type="email" th:field="*{personalEmail}" placeholder="Personal Email"><br>
                <p th:each="error : ${#fields.errors('personalEmail')}" th:text="${error}">Validation error</p>

                <input class="btn form-submit-btn" type="submit" th:value="Submit">
            </form>
        </div>
    </div>

    <footer th:replace="fragments/general.html :: footer"></footer>

</body>
</html>