<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>

    <header th:replace="fragments/general.html::header"></header>

    <div class="bg-white custom-shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight text-gray-900">Employee registration</h1>
        </div>
    </div>

    <div class="bootstrap-wrapper">
        <div class="container">

            <form class="register-form" action="" th:action="@{/employee-portal/new-employee}" th:object="${basicEmployee}" method="post">

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Title</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <select class="form-in-item" th:field="*{title}">
                                <option th:each="tit : ${titles}"
                                        th:value="${tit.id}"
                                        th:text="${tit.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">First name</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{firstName}">
                            <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Middle name</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{middleName}">
                            <p th:each="error : ${#fields.errors('middleName')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>


                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Last name</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{lastName}">
                            <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Date of birth</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="date" th:field="*{dateOfBirth}">
                            <p th:each="error : ${#fields.errors('dateOfBirth')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Social security number</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" placeholder="AAA-GG-SSSS" th:field="*{socialSecurity}">
                            <p th:each="error : ${#fields.errors('socialSecurity')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Home phone</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="tel" placeholder="000-000-0000" th:field="*{homePhone}">
                            <p th:each="error : ${#fields.errors('homePhone')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Mobile phone</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="tel" placeholder="000-000-0000" th:field="*{mobilePhone}">
                            <p th:each="error : ${#fields.errors('mobilePhone')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Personal email</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="email" th:field="*{personalEmail}">
                            <p th:each="error : ${#fields.errors('personalEmail')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Address 1</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{addressFirst}">
                            <p th:each="error : ${#fields.errors('addressFirst')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">Address 2</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{addressSecond}">
                            <p th:each="error : ${#fields.errors('addressSecond')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">City</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{city}">
                            <p th:each="error : ${#fields.errors('city')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">State</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" th:field="*{state}">
                            <p th:each="error : ${#fields.errors('state')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <div class="profile-edit-item row">
                    <div class="col-md-4">
                        <p class="name">ZIP</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-wrapper">
                            <input class="form-in-item" type="text" placeholder="00000{-0000}" th:field="*{ZIP}">
                            <p th:each="error : ${#fields.errors('ZIP')}" th:text="${error}">Validation error</p>
                        </div>
                    </div>
                </div>

                <input class="btn form-submit-btn" type="submit" th:value="Submit">
            </form>
        </div>
    </div>

    <div class="max-w-5xl mx-auto">

        <form th:action="@{/employee-portal/new-employee}" th:object="${basicEmployee}" method="POST">
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-8 gap-6">

                        <div class="col-span-8 sm:col-span-2">
                            <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                            <select th:field="*{title}" id="title" name="title" autocomplete="title" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option th:each="tit : ${titles}"
                                        th:value="${tit.id}"
                                        th:text="${tit.name}"></option>
                            </select>
                        </div>

                        <div class="col-span-8 sm:col-span-2">
                            <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                            <input type="text" name="first_name" id="first_name" autocomplete="given-name" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-2">
                            <label for="first_name" class="block text-sm font-medium text-gray-700">Middle name</label>
                            <input type="text" name="first_name" id="middle_name" autocomplete="given-name" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-2">
                            <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
                            <input type="text" name="last_name" id="last_name" autocomplete="family-name" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-4">
                            <label for="email_address" class="block text-sm font-medium text-gray-700">Email address</label>
                            <input type="text" name="email_address" id="email_address" autocomplete="email" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-3">
                            <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date of birth</label>
                            <input th:field="*{dateOfBirth}" type="date" name="dateOfBirth" id="dateOfBirth" autocomplete="dateOfBirth" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-3">
                            <label for="socialSecurity" class="block text-sm font-medium text-gray-700">Social security number</label>
                            <input th:field="*{socialSecurity}" type="text" name="socialSecurity" id="socialSecurity" autocomplete="socialSecurity" placeholder="AAA-GG-SSSS" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-4">
                            <label for="street_address_fir" class="block text-sm font-medium text-gray-700">Street address</label>
                            <input type="text" name="street_address_fir" id="street_address_fir" autocomplete="street_address_fir-address" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-4">
                            <label for="street_address_sec" class="block text-sm font-medium text-gray-700">Street address*</label>
                            <input type="text" name="street_address_sec" id="street_address_sec" autocomplete="street_address_sec" class="mt-1 py-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-6 lg:col-span-2">
                            <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                            <input type="text" name="city" id="city" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-3 lg:col-span-2">
                            <label for="state" class="block text-sm font-medium text-gray-700">State / Province</label>
                            <input type="text" name="state" id="state" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-8 sm:col-span-3 lg:col-span-2">
                            <label for="postal_code" class="block text-sm font-medium text-gray-700">ZIP / Postal</label>
                            <input type="text" name="postal_code" id="postal_code" autocomplete="postal-code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Save
                    </button>
                </div>
            </div>
        </form>

    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>

</body>
</html>