<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>


<div class="bg-white custom-shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-800">Employee profile</h1>
    </div>
</div>

<div class="max-w-5xl mx-auto py-14">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6 flex justify-between">
            <h3 class="text-lg leading-6 font-medium text-gray-900">General Information</h3>
            <a th:if="${#bools.isTrue(canSeeEditButton)}"
               th:href="@{'/employee-portal/hr/employee/' + ${employee.id}}"
               class="border-2 border-gray-300 hover:border-indigo-600 hover:bg-indigo-600 px-2 text-md leading-6 font-medium text-gray-400 hover:text-white rounded-md">
                Edit
            </a>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Full name
                    </dt>
                    <dd th:text="${employee.basicInfo.firstName + ' ' + employee.basicInfo.lastName}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Margot Foster
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Date of birth
                    </dt>
                    <dd th:text="${{employee.basicInfo.dateOfBirth}}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        12/94/97
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Email address
                    </dt>
                    <dd th:text="${employee.basicInfo.personalEmail}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        margotfoster@example.com
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Mobile phone
                    </dt>
                    <dd th:text="${employee.basicInfo.mobilePhone}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        000000000
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Social security
                    </dt>
                    <dd th:text="${employee.basicInfo.socialSecurity}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Social security
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Address 1
                    </dt>
                    <dd th:text="${employee.basicInfo.addressFirst}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Address 1
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Address 2
                    </dt>
                    <dd th:text="${employee.basicInfo.addressSecond}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Address 2
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        City
                    </dt>
                    <dd th:text="${employee.basicInfo.city}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        City
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        State
                    </dt>
                    <dd th:text="${employee.basicInfo.state}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        Social security
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        ZIP
                    </dt>
                    <dd th:text="${employee.basicInfo.ZIP}"
                        class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        ZIP
                    </dd>
                </div>
            </dl>
        </div>
    </div>


    <th:block th:if="${#bools.isTrue(canSeeWorkInfo)}">

        <div class="my-8 bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Work Information
                </h3>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Department
                        </dt>
                        <dd th:text="${employee.jobPosition.department.name}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            Department
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Job position
                        </dt>
                        <dd th:text="${{employee.jobPosition.name}}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            Job position
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Salary
                        </dt>
                        <dd th:text="${'$' + employee.salary}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            $1200
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Commission
                        </dt>
                        <dd th:text="${'$' + employee.commission}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            $23
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Work shift
                        </dt>
                        <dd th:text="${employee.workShift}"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            9 AM - 4 PM
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Added to payroll
                        </dt>
                        <dd th:text="${employee.addedToPayroll}? 'Yes' : 'No'"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            Yes
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Completed training
                        </dt>
                        <dd th:text="${employee.completedTraining}? 'Yes' : 'No'"
                            class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            Yes
                        </dd>
                    </div>
                    <div th:if="${employee.supervisor != null}"
                         class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Supervisor
                        </dt>
                        <a th:href="@{'/employee-portal/employee/' + ${employee.supervisor.id}}"
                           th:text="${employee.supervisor.basicInfo.firstName + ' ' + employee.supervisor.basicInfo.lastName}"
                           class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            Mike Joes
                        </a>
                    </div>
                    <div th:if="${not #lists.isEmpty(employee.subordinates)}"
                         class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                         th:classappend="${employee.supervisor != null ? 'bg-gray-50' : 'bg-white'}">
                        <dt class="text-sm font-medium text-gray-500">
                            Subordinates
                        </dt>

                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 grid grid-cols-4 gap-3">
                            <div class="inline-block mr-4" th:each="sub : ${employee.subordinates}">
                                <a th:href="@{'/employee-portal/employee/'+ ${sub.id}}"
                                   th:text="${sub.basicInfo.firstName + ' ' + sub.basicInfo.lastName}">
                                    Mike Joes
                                </a>
                            </div>
                        </dd>
                    </div>

                </dl>
            </div>
        </div>

        <th:block th:if="${#bools.isTrue(isMyProfile)}">
            <div th:replace="fragments/emp-document-upload-form.html :: document-upload-form"></div>
        </th:block>

        <th:block th:if="${#bools.isFalse(isMyProfile) and not #lists.isEmpty(employee.empDocuments)}">
            <div class="my-8 bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Documents
                    </h3>
                </div>
                <div class="border-t border-gray-200">
                    <div th:replace="fragments/emp-documents-management.html :: documents-management(canManage=false)"></div>
                </div>
            </div>
        </th:block>

    </th:block>

</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>

