<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>

<div class="bootstrap-wrapper">
    <div class="container">
        <h1>Employee Documents</h1>

        <form th:action="@{'/employee-portal/employee/' + ${employee.id} + '/documents'}"  th:object="${dto}" enctype="multipart/form-data" method="post">
            <select th:field="*{documentType}">
                <option th:each="docType : ${documentTypes}" th:value="${docType.id}" th:text="${docType.name}"></option>
            </select>
            <input type="file" th:field="*{files}" name="files" multiple required><br>
            <input class="btn form-submit-btn" type="submit" value="Submit">
        </form>
    </div>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>

