<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>
<body>
<header th:replace="fragments/general.html::header"></header>

<div class="bootstrap-wrapper">
    <div class="container">

        <div class="page-info row">
            <div th:if="${#lists.isEmpty(accounts)}" class="col-md-12">
                <span class="name">There are no accounts to update.</span>
            </div>
            <div th:unless="${#lists.isEmpty(accounts)}" class="col-md-12">
                <span class="name">Accounts Requested for Updating</span>
            </div>
        </div>

        <table th:unless="${#lists.isEmpty(accounts)}">
            <tr>
                <th>Base Account ID</th>
                <th>Base Account</th>
                <th sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')">View Updated</th>
                <th sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')">Reject</th>
            </tr>
            <tr th:each="account: ${accounts}">
                <td th:text="${account.id}">Id</td>
                <td>
                    <a th:href="@{'/employee-portal/admin/account/'+${account.baseVersion.id}}">View Original</a>
                </td>
                <td sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')">
                    <a th:href="@{'/employee-portal/admin/account/approve-updated/' + ${account.id}}">Update</a>
                </td>
                <td sec:authorize="hasAuthority('SYSTEM_ADMIN_DEP')">
                    <a th:href="@{'/employee-portal/admin/account/approve-updated/reject/' + ${account.id}}">Reject</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>