<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>
    <header th:replace="fragments/general.html::header"></header>

    <div class="bootstrap-wrapper">
        <div class="container">

            <div th:if="${#lists.isEmpty(employees)}">
                <div class="page-info row">
                    <div class="col-md-12">
                        <span class="name">There are no employees.</span>
                    </div>
                </div>
            </div>
            <div th:unless="${#lists.isEmpty(employees)}">

                <div class="page-info row">
                    <div class="col-md-12">
                        <span class="name">Employees</span>
                    </div>
                </div>

                <table>
                    <tr>
                        <th>Employee Name</th>
                        <th>Last Name</th>
                        <th>Personal Email</th>
                        <th>Department</th>
                        <th>Job Position</th>
                        <th>Work Shift</th>
                        <th>Completed Training</th>
                        <th>Added To Payroll</th>
                        <th></th>

                    </tr>
                    <tr th:each="employee: ${employees}">
                        <td th:text="${employee.basicInfo.firstName}">Employee Name</td>
                        <td th:text="${employee.basicInfo.lastName}">Last Name</td>
                        <td th:text="${employee.basicInfo.personalEmail}">Personal Email</td>
                        <td th:text="${employee.jobPosition.department.name}">Department</td>
                        <td th:text="${employee.jobPosition.name}">Job Position</td>
                        <td th:text="${employee.workShift}">Work Shift</td>
                        <td th:text="${employee.completedTraining}? 'Yes' : 'No'">true/false</td>
                        <td th:text="${employee.addedToPayroll}? 'Yes' : 'No'">true/false</td>
                        <td><a th:href="@{'/employee-portal/' + ${employee.id}}">Profile</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>